.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.dashicon,
.pkp-success:after,
.pkp-error:after {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color 0.1s ease-in 0;
  transition: color 0.1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes pkpspin {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-webkit-keyframes pkpspin {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-moz-keyframes pkpspin {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-o-keyframes pkpspin {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
.pkppg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.pkppg-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.pkppg-modal.is-visible .pkppg-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.pkppg-modal-container {
  position: relative;
  width: 90%;
  max-width: 30em;
  padding: 2em;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.pkppg-modal-is-visible {
  overflow: hidden;
}
.pkp-submit fieldset,
.pkppg-modal fieldset,
.pkp-submit fieldset > div,
.pkppg-modal fieldset > div {
  margin-bottom: 1em;
}
.pkp-submit fieldset:last-child,
.pkppg-modal fieldset:last-child {
  margin-bottom: 0;
}
.pkp-submit label,
.pkppg-modal label {
  display: block;
}
.pkp-submit input[type="text"],
.pkppg-modal input[type="text"],
.pkp-submit input[type="url"],
.pkppg-modal input[type="url"],
.pkp-submit select,
.pkppg-modal select,
.pkp-submit textarea,
.pkppg-modal textarea {
  width: 100%;
}
.pkp-submit textarea,
.pkppg-modal textarea {
  height: 6em;
}
.pkppg-modal .pkppg-modal-container > h3:first-child {
  margin-top: 0;
}
.pkppg-modal .status {
  float: right;
  position: relative;
}
.pkppg-modal .status > span {
  position: absolute;
  top: 0;
  right: 0;
}
.pkppg-modal .status > span:after {
  opacity: 0;
}
.pkppg-modal .status.working .pkp-spinner:after {
  opacity: 0.5;
}
.pkppg-modal .status.success .pkp-success:after {
  opacity: 1;
}
.pkppg-modal .status.error .pkp-error:after {
  opacity: 1;
}
.pkp-spinner:after {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-animation: pkpspin 0.6s linear infinite;
  -moz-animation: pkpspin 0.6s linear infinite;
  -ms-animation: pkpspin 0.6s linear infinite;
  -o-animation: pkpspin 0.6s linear infinite;
  animation: pkpspin 0.6s linear infinite;
  border-radius: 100%;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #777777;
  border-right: 1px solid #dddddd;
  content: '';
  opacity: 0.5;
}
.pkp-success:after {
  content: "\f147";
  color: #7ad03a;
}
.pkp-error:after {
  content: "\f335";
  color: #dd3d36;
}
.pkp-releases-form .releases > li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}
.pkp-releases-form .releases > li:last-child {
  border-bottom: none;
}
.pkp-releases-form .release {
  position: relative;
}
.pkp-releases-form .title {
  line-height: 2em;
  color: rgba(0, 0, 0, 0.54);
}
.pkp-releases-form .version {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.pkp-releases-form .details {
  line-height: 2em;
}
.pkp-releases-form .actions {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2em;
}
.pkp-releases-form .actions > a {
  display: inline-block;
  padding: 0 0.5em;
}
.pkp-releases-form .actions > a:first-child {
  margin-left: 0;
}
.pkp-releases-form .actions > a[disabled] {
  opacity: 0.5;
}
.pkp-releases-form .actions .delete {
  color: #dd3d36;
}
.pkp-releases-form .actions .pkp-spinner {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
}
.pkp-releases-form .actions.loading .pkp-spinner,
.pkp-releases-form .actions.deleting .pkp-spinner,
.pkp-releases-form .actions.publishing .pkp-spinner,
.pkp-releases-form .actions.disabling .pkp-spinner {
  opacity: 1;
}
.pkp-releases-form .releases > li > .submission > .title,
.pkp-releases-form .updates .update {
  padding: 0.5em;
  color: #fff;
}
.pkp-releases-form .releases > li > .submission > .title,
.pkp-releases-form .releases > li > .submission > .actions {
  background: #0073aa;
}
.pkp-releases-form .updates .update,
.pkp-releases-form .updates .update .actions {
  background: #d54e21;
}
.pkp-releases-form .update .dashicons,
.pkp-releases-form .submission .dashicons {
  line-height: 26px;
}
.pkp-releases-form .update .title,
.pkp-releases-form .submission .title,
.pkp-releases-form .update .version,
.pkp-releases-form .submission .version {
  color: #fff;
  font-weight: 400;
}
.pkp-releases-form .update .status-notice,
.pkp-releases-form .submission .status-notice {
  font-weight: 700;
}
.pkp-releases-form .update a,
.pkp-releases-form .submission a {
  color: #fff;
}
.pkp-releases-form .update .actions,
.pkp-releases-form .submission .actions {
  top: 0.5em;
  right: 0.5em;
}
.pkp-releases-form .update .actions .delete,
.pkp-releases-form .submission .actions .delete {
  color: #fff;
}
.pkp-release-fields .applications ul,
.pkp-release-fields .applications li {
  margin: 0;
}
.pkp-release-fields .applications label {
  line-height: 2em;
}
.pkp-release-fields .applications > ul > li {
  margin-bottom: 1em;
}
.pkp-release-fields .applications > ul > li > label {
  font-weight: 700;
}
#save-action #save-post {
  float: right;
}
#submitdiv .misc-pub-pkp-updates {
  background: #d54e21;
  color: #ffffff;
}
#submitdiv .pkp-updates {
  margin-top: 1em;
}
#submitdiv .pkp-update {
  padding: 0.5em 0;
  color: #41180A;
}
#submitdiv .pkp-update a {
  color: #fff;
  display: block;
}
#submitdiv .pkp-spinner {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: bottom;
}
#submitdiv .pkp-spinner:after {
  line-height: 16px;
  height: 16px;
  width: 16px;
}
#pkppg-diff .pkppg-modal-container {
  max-width: 100em;
}
#pkppg-diff .controls {
  position: absolute;
  top: 2em;
  right: 2em;
}
#pkppg-diff h4 {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
#pkppg-diff .pkp-spinner,
#pkppg-diff .pkp-success,
#pkppg-diff .pkp-error {
  position: absolute;
  top: 4px;
  left: -32px;
  visibility: hidden;
}
#pkppg-diff .pkpr-loading .pkp-spinner,
#pkppg-diff .pkpr-success .pkp-success,
#pkppg-diff .pkpr-error .pkp-error {
  visibility: visible;
}
