//
// Styles for the admin plugin edit page
//

// Compare button in publish metabox
#save-action #save-post {
    float: right;
}

// Publish metabox
#submitdiv {

    .misc-pub-pkp-updates {
        background: #d54e21;
        color: #fff
    }

    .pkp-updates {
        margin-top: 1em;
    }

    .pkp-update {
        padding: 0.5em 0;
        color: #41180A;

        a {
            color: #fff;
            display: block;
        }
    }
}

// Diff modal
#pkppg-diff {

    .pkppg-modal-container {
        max-width: 100em;
    }

    .controls {
        position: absolute;
        top: 2em;
        right: 2em;
    }

    h4 {
        margin-top: 4em;
        margin-bottom: 0.5em;
    }
}
