//
// Gallery list view
//

.pkppg-controls {
    background: @tpl-shade;
    padding: 1em;
    border-radius: @tpl-border-radius;

    .filters {
        float: left;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            margin: 0;
            padding: 0 0.5em;
        }
    }

    .search {
        float: right;
    }
}
