//
// Gallery list view
//

.pkppg-controls {
    background: @tpl-shade;
    padding: 1em;
    border-radius: @tpl-border-radius;
    font-size: @tpl-font-sml;

    .filters {
        float: left;
        margin: 0;
        list-style: none;
        line-height: 1.5em;
        padding: 0.5em 0;
        border: 1px solid transparent;

        li {
            display: inline-block;
            margin: 0;
            padding: 0 0.5em;
        }

        .current a {
            font-weight: @tpl-bold;
            color: @tpl-dark;
        }
    }

    .search {
        float: right;

        input {
            line-height: 1.5em;
            padding: 0.5em;
            border: @border;
        }
    }
}

.pkppg-user-controls {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 1em 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 0 0.5em;
        font-size: @tpl-font-sml;
    }
}

.plugin {

    &:not( :last-child ) {
        margin-bottom: 2em;
    }

    .title {
        font-size: @tpl-font-lead;
        font-weight: @tpl-bold;
        line-height: 1.5em;
    }

    .category-badge {
        background: @tpl-shade;
        line-height: 18px;
        font-size: 12px;
        display: inline-block;
        padding: 0 0.5em;
        border-radius: @tpl-border-radius;
        color: @tpl-offset;
    }

    .summary {

        .edit {
            margin-left: 0.5em;
        }
    }

}

.plugin.view {

    .category-badge {
        margin: 1em 0;
    }

    .details p {
        padding: 0;
    }

    h3 {
        margin: 2em 0 1em;
    }

    .actions {
        margin: 1em 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;
        }

        li:not( :last-child ) {
            margin-bottom: 1em;
        }
    }
}

.pkp-releases-form {
    margin-bottom: 4em;
}

.releases {

    li {
        margin-left: 0;
    }

    .notice {
        margin-left: 1em;
        font-style: italic;

        .dashicons {
            vertical-align: text-bottom;
        }
    }

    .actions {
        list-style: none;
        margin: 0;
        font-size: @tpl-font-sml;

        li {
            display: inline-block;
            margin: 0 0.2em;
            padding: 0;
        }
    }

    .terms {
        list-style: none;

        .label {
            font-weight:  @tpl-bold;
        }

        .value {

            a {
                background: @tpl-shade;
                line-height: 18px;
                font-size: 12px;
                display: inline-block;
                padding: 0 0.5em;
                margin: 0 0.5em;
                border-radius: @tpl-border-radius;
                color: @tpl-offset;
            }
        }
    }
}

.pkp-submit,
.pkppg-release-form {

    input[type="text"],
    input[type="url"],
    textarea,
    select {
        line-height: 2em;
        border: @tpl-border;
        border-radius: @tpl-border-radius;
        background: @tpl-shade;
        padding: 0 0.5em;
    }

    select {
        height: 2em;
    }

    textarea {
        line-height: 1.5em;
        font-family: @tpl-font;
    }

    .description {
        font-style: italic;
        color: @tpl-text-light;
    }

    button.save,
    .button {
        &:extend( .tpl-button );
    }

    button.save,
    .button-primary {
        &:extend( .tpl-button-primary );
        margin-right: 0.5em;
    }
}

.pkp-submit {
    margin-bottom: 4em;

    legend {
        margin: 1em;
        font-size: @tpl-font-lead;
        font-weight: @tpl-bold;
    }

    .description {
        min-height: 10em;
    }

    button.save {
        cursor: pointer;
    }
}
