//
// LESS stylesheet for the plugin submission form components
//
// Styles in this sheet will be used for the frontend as well as the
// admin management area.
//

// Releases list
.pkp-releases-form {

	.release {
		position: relative;
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid @border;

		&:last-child {
			border-bottom: none;
		}
	}

	.title {
		line-height: 2em;
		color: @text-light;
	}

	.version {
		font-weight: @strong;
		color: @text;
	}

	.details {
		line-height: 2em;
	}

	.actions {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 2em;

		> a {
			display: inline-block;
			padding: 0 0.5em;

			&:first-child {
				margin-left: 0;
			}

			&[disabled] {
				opacity: 0.5;
			}
		}

		.delete {
			color: @off;
		}

		.pkp-spinner {
			display: inline-block;
			vertical-align: middle;
			opacity: 0;
		}

		&.loading .pkp-spinner,
		&.deleting .pkp-spinner {
			opacity: 1;
		}
	}
}

// Release form
.pkp-release-fields {

	.applications {

		ul,
		li {
			margin: 0;
		}

		label {
			line-height: 2em;
		}

		> ul > li {
			margin-bottom: 1em;

			> label {
				font-weight: @strong;
			}
		}
	}
}
