//
// LESS variables common to all stylesheets
//
// @todo
//

// Colors
@shade:             #ddd;
@dark:              #777;
@lift:              #fff;
@success:           #7ad03a;
@error:             #dd3d36;
