//
// LESS variables common to all stylesheets
//

// Colors
@shade:             #ddd;
@dark:              #777;
@lift:              #fff;
@on:                #7ad03a;
@off:               #dd3d36;
@border:            #ddd;
@admin-primary:     #0073aa;
@admin-offset:      #d54e21;
@admin-bg:          #23282d;

@text:              rgba( 0, 0, 0, 0.87 );
@text-light:        rgba( 0, 0, 0, 0.54 );

// Font weights
@normal:            400;
@strong:            700;


//
// Front-end styles designed to match current theme
//

// Colors
@tpl-shade:             #e5e5e5;

// Border
@tpl-border-radius:     3px;
